body{
    font-family:'Times New Roman', Times, serif ;
    color: black;
    background-color: antiquewhite;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

/*div styles*/
.common{
font-family:'Times New Roman', Times, serif ;
position: absolute;
}
.top{
top: 0px;
left: 0px;
right: 0px;
}
.middle{
    top: 100px;
    left: 0px;
    right: 0px;
}
.bottom{
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    text-align: center;
    background-color: rgb(139, 139, 215);
    font-style: italic;
    font-weight: bold;
}
.imgcenter{
    display: block;
    margin: auto;
    border: 5px solid burlywood
}
h1, h2, h3, h4, h5, h6 {
    text-align: center;
}
.iframecenter{
    position: fixed;
}